@model Category

@{
    ViewData["Title"] = "New Category";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
<div class="text-end">
    <a class="btn btn-primary me-2" asp-action="Index">Return to List</a>
</div>
<div class="border rounded-2 p-3 my-3 bg-white shadow">
    
    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <partial name="Admin/Partials/_CategoryFields" model="Model"/>

        <div class="text-center">
            <button class="btn btn-primary px-3 w-100" type="submit">Submit</button>
        </div>

    </form>
</div>



