@model Category

@{
    ViewData["Title"] = "Edit Category";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
<div class="text-end">
    <a class="btn btn-primary me-2" asp-action="Index">Return to List</a>
</div>
<div class="border rounded-2 p-3 my-3 bg-white shadow">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" asp-for="Id" />
        <partial name="Admin/Partials/_CategoryFields" model="Model" />

        <div class="text-center">
            <button class="btn btn-primary px-3 w-100" type="submit">Submit</button>
        </div>

    </form>
    
</div>

