<!-- Modal -->
<div id="modal-sweet-delete" class="position-fixed start-0 top-0 end-0 bottom-0 d-none">
    <div class="position-fixed top-50 start-50 translate-middle z-9">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100 text-center text-danger display-5">Warning</h5>
                </div>
                <div class="modal-body">
                    <p> You are deleting <span class="fw-bold" id="modal-title"></span>, it will be lost forever.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-dismiss" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger btn-confirm ms-auto">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>