<div class="flex-shrink-0 p-3 bg-light text-dark h-100 overflow-auto">
    <ul class="list-unstyled ps-0 mb-0 d-flex justify-content-center d-md-block flex-wrap g-2">
        
        <li class="mb-2 px-2 me-md-0">
            <button class="btn btn-primary w-100 btn-toggle d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Dashboard
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-2">
                    <li><a asp-controller="Photo" asp-action="Index" class="link-body-emphasis link-dark d-inline-flex text-decoration-none rounded">Home</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-2 px-2 me-md-0">
            <button class="btn btn-primary w-100 btn-toggle d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#photos-collapse" aria-expanded="false">
                Photos
            </button>
            <div class="collapse" id="photos-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-2">
                    <li><a asp-controller="Photo" asp-action="Index" class="link-body-emphasis link-dark d-inline-flex text-decoration-none rounded">Show Photos List</a></li>
                    <li><a asp-controller="Photo" asp-action="Create" class="link-body-emphasis link-dark d-inline-flex text-decoration-none rounded">New Photo</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-2 px-2 me-md-0">
            <button class="btn btn-primary w-100 btn-toggle d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#categories-collapse" aria-expanded="false">
                Categories
            </button>
            <div class="collapse" id="categories-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-2">
                    <li><a asp-controller="Category" asp-action="Index" class="link-body-emphasis link-dark d-inline-flex text-decoration-none rounded">Show Categories List</a></li>
                    <li><a asp-controller="Category" asp-action="Create" class="link-body-emphasis link-dark d-inline-flex text-decoration-none rounded">New Category</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3 d-none d-sm-block"></li>
        <li class="mb-2 px-2 me-md-0">
            <button class="btn btn-primary w-100 btn-toggle d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-2">
                    <li><a href="#" class="link-body-emphasis link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                    <li><a href="#" class="link-body-emphasis link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                    <li><a href="#" class="link-body-emphasis link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                    <li><a href="#" class="link-body-emphasis link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>