
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
header {
    height: 85px;
}
header .navbar {
    z-index: 9;
}
main {
    height: calc(100vh - 155px);
}
.content{
    max-height: 100%;
    overflow-y: auto;
}
footer {
    height: 70px;

}
